/target/
*.csv
*.svg
*.tgz
*.gz
*.log
*.class
/logs/
charts/
homebrew*/
atlas-client.properties
atlas-test.properties
mongo-launcher*/
*.rb
*.tar.gz
index.html
*.py
/open_api_spec_2025-03-12.json
.idea/
bin/original-AtlasClient.jar
